<header class="header">
  <h1 class="header_title"><a href="/"><%- title %></a></h1>
  <p>Welcome to <%= title %></p>
  <nav class="header_nav">
    <ul class="header_menu nav_menu">
      <li class="header_list menu_list"><a href="/check_in">입차</a></li>
      <li class="header_list menu_list"><a href="/check_out">출차</a></li>
      <!-- <li class="header_list menu_list"><a href="#">입출차 내역</a></li> -->
      <li class="header_list menu_list"><a href="/members">정기권 구매</a></li>
      <li class="header_list menu_list"><a href="/admin_auth">관리자</a></li>
    </ul>
  </nav>
</header>
