<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <div class="wrap">
      <%- include("partials/header.ejs") %>
      <div class="main">
        <h1 class="main_title uppercase_text"><%= page %></h1>
        <p class="message">입출차 기록을 초기화했습니다.</p>
      </div>
      <%- include("partials/footer.ejs") %>
    </div>
  </body>
</html>
