<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <div class="wrap">
      <%- include("partials/header.ejs") %>
      <div class="main">
        <div class="main_cover"></div>
      </div>
      <%- include("partials/footer.ejs") %>
    </div>
    <%- include("partials/jquery.ejs") %>
  </body>
</html>
